/*
 * Agreed fallback fonts (open-licensed stand-ins for the Figma file's
 * proprietary Google Sans Flex):
 *   UI     → DM Sans
 *   Script → Beth Ellen (handwritten artwork titles)
 * To swap in licensed Google Sans later, replace the file and update
 * --font-sans in index.css — nothing else changes.
 */
@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("/fonts/7dec47d2.woff2") format("woff2");
}

@font-face {
  font-family: "Beth Ellen";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/beth-ellen.woff2") format("woff2");
}
