/*
 * Agreed fallback fonts (open-licensed stand-ins for the Figma file's
 * proprietary Google Sans Flex):
 *   UI     → Figtree (closest visual match to Google Sans)
 *   Script → Beth Ellen (handwritten journal-entry titles)
 * To swap in licensed Google Sans later, replace the file and update
 * --font-sans in index.css — nothing else changes.
 */
@font-face {
  font-family: "Figtree";
  font-style: normal;
  font-weight: 300 900;
  font-display: swap;
  src: url("/fonts/figtree.woff2") format("woff2");
}

@font-face {
  font-family: "Beth Ellen";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/beth-ellen.woff2") format("woff2");
}
