/*
 * Fonts:
 *   UI     → Figtree (open stand-in for the file's proprietary Google
 *            Sans Flex; swap the file + --font-sans when licensed)
 *   Script → Homemade Apple — the EXACT font the Figma file uses for
 *            journal-entry titles (free, Google Fonts)
 */
@font-face {
  font-family: "Figtree";
  font-style: normal;
  font-weight: 300 900;
  font-display: swap;
  src: url("/fonts/figtree.woff2") format("woff2");
}

@font-face {
  font-family: "Homemade Apple";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/homemade-apple.woff2") format("woff2");
}
